<ion-view id="page1">
  <ion-tabs class="tabs-positive tabs-icon-top" id="menuTabs-tabs1">
    <ion-tab title="Produtor" icon="ion-card" href="#/menutabs/carteira" id="menuTabs-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Consumo" icon="ion-stats-bars" href="#/menutabs/consumo" id="menuTabs-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Perfil" icon="ion-android-person" href="#/menutabs/perfil" id="menuTabs-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>